<div class="table-responsive">
    <table class="table table-striped  mt-4">
        <thead>
            <tr>
                <% data && data.length &&  Object.keys(data[0]).forEach((col)=>{ %>
                <th scope="col"><%-col %></th>

                <% }); %>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <% data && data.forEach((item)=>{ %>
            <tr>
                <% Object.keys(item).forEach((col)=>{ %>
                <td><%- item[col] %></td>
                <% }); %>
                <td>
                    <i class="fa fa-pencil"></i>
                    <form action="/users/<%-item.id %>" method="DELETE">
                        <i class="fa fa-trash" type="submit"></i>
                    </form>

                </td>
            </tr>

            <% }); %>

        </tbody>
    </table>
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end mt-3">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
</div>

</body>
<%include ../partials/footer.ejs%>