<div class="table-responsive">
    <table class="table table-striped  mt-4">
        <thead>
            <tr>
                <% data && data.length &&  Object.keys(data[0]).forEach((col)=>{ %>
                <th scope="col"><%-col %></th>

                <% }); %>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <% data && data.forEach((item)=>{ %>
            <tr>
                <% Object.keys(item).forEach((col)=>{ %>
                <td><%- item[col] %></td>
                <% }); %>
                <td>
                    <i class="fa fa-pencil"></i>
                    <form action="/users/<%-item.id %>" method="DELETE">
                        <i class="fa fa-trash" type="submit"></i>
                    </form>

                </td>
            </tr>

            <% }); %>

        </tbody>
    </table>
</div>

</div>

</body>
<%include ../partials/footer.ejs%>