<div class="table-responsive">
    <table class="table table-striped  mt-4">
        <thead>
            <tr>
                <%% data && data.length &&  Object.keys(data[0]).forEach((col)=>{ %%>
                <th scope="col"><%%-col %%></th>

                <%% });%%>
                <%% if (data && data.length) { %%>
                <th scope="col">Action</th>
                <%% } %%>
            </tr>
        </thead>
        <tbody>
            <%% data && data.forEach((item)=>{ %%>
            <tr>
                <%% Object.keys(item).forEach((col)=>{ %%>
                <td><%%- item[col] %%></td>
                <%% }); %%>
                <td>
                    
                    <a href="/<%- moduleName.toLowerCase() %>/<%%-item.id %%>/edit" class="btn btn-outline-primary mb-2">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <form action="/<%- moduleName.toLowerCase() %>/<%%-item.id %%>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-outline-danger">
                            <i class="fa fa-trash"></i></button>
                    </form>

                </td>
            </tr>

            <%% }); %%>

        </tbody>
    </table>
</div>

</div>

</body>
<%include ../partials/footer.ejs%>