<%include ./partials/header.ejs%>

<body>
  <div class="content">
    <div class="title m-b-md">
      NODAX
    </div>

    <div class="links">
      <a href="https://github.com/waqas740/nodax">GitHub</a>
    </div>
  </div>
  </div>
</body>
<%include ./partials/footer.ejs%>