<!DOCTYPE html>
<html>

<head>
    <title><%= typeof  title !='undefined' ? title : 'Nodax' %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/assets/css/style.css' />
</head>